<!doctype html>
<head>
  <title>Jasmine(Rice) Spec Runner</title>
  <%= stylesheet_link_tag "jasmine", "spec" %>
  <%= requirejs_include_tag 'application' %>
  <%= javascript_include_tag "jasminerice", "spec", :debug => true %>
  <script>
    jasmine.rice.autoExecute = false;
    require([<%= spec_files.map { |f| "'#{f.sub(/\.js$/,'')}'" }.join(',').html_safe %>], function() { jasmine.getEnv().execute() });
  </script>
  <%= csrf_meta_tags %>
</head>
<body>
</body>
</html>
