- title (page_title = "start a thread")
.page-header
  %h1= page_title.capitalize
= twitter_bootstrap_form_for @cothread do |cothread|

  = cothread.fieldset do
    = cothread.text_field :title, "Title"
    = cothread.text_area :summary, "Summary", :rows => 5, :class => 'input-xlarge'

  = cothread.actions do
    = cothread.submit 'Create thread'
    = link_to 'Cancel', homepage_path, :class => 'btn'
