= twitter_bootstrap_form_for @cothread do |cothread|

  = cothread.fieldset do
    = cothread.text_field :title, "Title"
    = cothread.text_area :summary, "Summary"

  = cothread.actions do
    = cothread.submit 'Create thread'
