!!!
%html
  %head
    %title
      = "cojiro: " + yield_or_default(:title, "conversations across languages") 
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags
  %body{ :style => "padding-top: 40px" }
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to "cojiro", homepage_path, :class => "brand"
          %ul.nav
            - if logged_in?
              %li
                = link_to "Start a thread", new_cothread_path
          %ul.nav.secondary-nav.pull-right
            - if logged_in?
              %li#profile-menu.dropdown
                = link_to "#profile-menu", :class => 'dropdown-toggle', :'data-toggle' => 'dropdown' do
                  = "@" + @current_user.name
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to "Logout", logout_path
            - else
              %li= link_to "Sign in through Twitter", '/auth/twitter'
    .container
      .content
        - flash.each do |name, msg|
          = content_tag :div, '<a class="close" href="#">×</a>'.html_safe + msg, :class => "alert alert-#{name} #{name}", :id => "flash_#{name}", :'data-dismiss' => 'alert' if msg.is_a?(String)
        = yield
