!!!
%html
  %head
    %title
      = "cojiro: " + yield_or_default(:title, "conversations across languages") 
    = stylesheet_link_tag :application
    = requirejs_include_tag "application"
    %base{ :href => root_url.gsub(/\?.*/,""), :locale => nil }
    = csrf_meta_tags
  %body
    %nav#navbar.navbar.navbar-default.navbar-fixed-top{ role: 'navigation' }
    #wrap.container
      #content.content
        - flash.each do |name, msg|
          = content_tag :div, '<a class="close" href="#">×</a>'.html_safe + msg, :class => "alert alert-#{name} #{name}", :id => "flash_#{name}", :'data-dismiss' => 'alert' if msg.is_a?(String)
        = yield
    %nav#footer.navbar.navbar-default.navbar-fixed-bottom
    #modal.modal.fade
    #add-link-modal.modal.fade
    #thread-modal.modal.fade
